@import url("https://fonts.googleapis.com/css?family=Manjari:400,700&display=swap");

* {
  font-family: "Manjari", sans-serif;
  /* ignora o tamanho das bordas e dos padding na composição dos elementos */
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 635px;
  width: 100%;
  background-image: url("./images/bg.png");
  background-size: cover;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  flex-wrap: wrap;
}

.menu-items li {
  list-style-type: none;
  margin: 0 30px 0 30px;
}

.menu-items li a {
  text-decoration: none;
  color: #ffffff;
}
.menu-items li a:hover {
  color: #d6b13a;
}

.menu-description {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 30px 0 30px;
  color: white;
}

.logo {
  width: 420px;
  height: 200px;
}

.arrow {
  display: flex;
  justify-content: end;
  margin: 120px 0 0 0;
}

.who-are {
  display: flex;
  flex-direction: row;
  min-height: 630px;
  max-height: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.who-are-card {
  width: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
}

.who-are-icon {
  width: 100px;
  height: 100px;
}

.who-are-title {
  font-weight: bold;
}

.cases-container {
  background-color: #bdf5e2;
  min-height: 565px;
  padding-top: 20px;
}

.cases {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.case-title {
  text-align: center;
  font-weight: bold;
}

.group-case {
  background-color: #bdf5e2;
  margin: 10px 0 0 0; 
}

.cases {
  display: flex;
  min-height: 565px;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: #bdf5e2;
  flex-wrap: wrap;
  margin: 0 0 30px 0;
}

.case-item {
  display: flex;
  width: 350px;
  height: 400px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 10px;
}

.case-description {
  align-items: center;
  margin: 10px;
}

.case-name {
  font-weight: bold;
}

.case-text {
  font-weight: normal;
}

.person {
  width: 300px;
  height: 220px;
}

a {
  text-decoration: none;
}

.product-subtitle {
  font-weight: bold;
  color: #000;
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
}

.products-title {
  text-align: center;
  font-weight: bold;
}

.products {
  display: flex;
  flex-direction: row;
  min-height: 450px;
  max-height: auto;
  flex-wrap: wrap;
  margin: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.products-items {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
}

.product-image {
  margin: 0 0 10px 0;
}

.product-description {
  margin: 0;
  text-align: left;
}

.product-price {
  font-weight: bold;
  margin: 0;
}

.style-button {
  background-color: #d6b13a;
  width: 258px;
  height: 44px;
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.register {
  background-color: #f8f1e7;
  display: flex;
  min-height: 500px;
  max-height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.register-items {
  display: flex;
  flex-direction: column;
  margin: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.register-image {
  width: 100px;
  height: 100px;
}

.contact {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 200px;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}