@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i&display=swap");

* {
  font-family: "Merriweather Sans", sans-serif;
  /* ignora o tamanho das bordas e dos padding na composição dos elementos */
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 635px;
  width: 100%;
  background-image: url("./images/wave.svg");
  background-size: cover;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu-items li {
  list-style-type: none;
}

.menu-items li a {
  text-decoration: none;
}

.menu-description {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 30px 0 30px;
}

.menu-title {
  font-size: 50px;
}

.who-are {
  display: flex;
  flex-direction: row;
  min-height: 630px;
  max-height: auto;
  background-color: rgb(228, 228, 228);
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.who-are-card {
  width: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
}

.who-are-icon {
  width: 100px;
  height: 100px;
}

.cases {
  display: flex;
  height: 535px;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
}

.case-item {
  display: flex;
  width: 350px;
  height: 400px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(221, 197, 197);
  margin: 20px;
}

.case-description {
  align-items: center;
}

.person {
  background-color: white;
  border-radius: 50%;
}
